* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMEÇO DO NAVBAR*/
nav {
    width: 100%;
    height: 14vh;
}

.Div_logo {
    display: inline-block;
    width: 30%;
    height: 100px;
}

.logo_site {
    margin-top: 1%;
    margin-left: 25%;
}

.Div_titlesNav {
    position: absolute;
    display: inline-block;
    width: 70%;
    height: 100px;
    text-align: right;

}

.div_nav {
    margin-right: 16%;
}

.title_nav {
    display: inline-block;
    margin-right: 10%;
    margin-top: 40px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

.title_nav:hover {
    color: gray;
}

.foto_perfil img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 17%;
    right: 0%;
    margin-right: 10%;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
}

.dropdown {
    display: inline-flex;
    margin-top: 0%;
}

.dropdown-content {
    position: absolute;
    top: 87px;
    right: 9.3%;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    z-index: 1;
}

.dropdown-content p {
    margin-bottom: .2rem;
}

.dropdown-content p a {
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.text_drop {
    font-family: 'Open Sans';
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

.text_drop:hover {
    color: #646464;
}

/*FIM DO NAVBAR*/

.card_alerta {
    width: 370px;
    height: 50px;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 5%;
    border-radius: 31px;
    background: #EEEEEE;
    box-shadow: 5.58372px 5.58372px 23.9302px 3.98837px rgba(66, 96, 84, 0.15);
}

.button_card {
    display: inline-block;
    border: none;
    width: 183px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 20px 0px 20px 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 55px;
    text-align: center;
    color: #43B996;
}

.button_card2 {
    display: inline-block;
    right: 0%;
    color: #FFFFFF;
    background-color: #43B996;
    border-radius: 0px 20px 20px 20px;
}

.alertas_ativos {
    width: 100%;
    margin: auto;
    display: block;
    margin-bottom: 3%;
}

.alertas_denunciados {
    width: 100%;
    margin: auto;
    display: none;
    margin-bottom: 3%;
}

.content-meusalertas {
    width: 80%;
    max-width: 100%;
    margin-left: 7%;
    display: block;

}

.alertas {
    display: flex;
    width: 100%;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 5.58372px 5.58372px 23.9302px 3.98837px rgba(66, 96, 84, 0.15);
    border-radius: 55.8372px 0px;
    margin-bottom: 35px;
}

.alertas:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.meusalertas-texto {
    padding-top: 20px;
    width: 100%;
}

.title_alerta {
    margin-top: 1%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 19.1442px;
    line-height: 26px;
    color: #212121;
}

.description_alerta {
    display: block;
    width: 95%;
    height: 130px;
    margin-top: 0.5%;
    margin-bottom: 2rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #646464;
    overflow: hidden;
    text-align: justify;
}

.img_alerta {
    width: 150px;
    height: 150px;
    margin: 3%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
    border-radius: 20px 0px;
}

.img_alerta_2 {
    width: 150px;
    height: 150px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 0%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
    border-radius: 20px 0px;
}

.continuar_lendo {
    text-decoration: none;
    color: #8bd6c5;
}


/*CSS da div abrir alerta*/
.Abrir_alerta {
    display: none;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 80%;
    height: 700px;
    background-color: #fff;
    box-shadow: 5.58372px 5.58372px 23.9302px 3.98837px rgba(66, 96, 84, 0.15);
    border-radius: 55.8372px 0px;
    transition: 0.5s;
}

.Textos_AbrirAlertas {
    margin-top: 1.4%;
    position: absolute;
    display: inline-block;
}

.img_perfil_alerta {
    width: 260px;
    height: 260px;
    margin: 3%;
    margin-right: 1%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
    border-radius: 20px 0px;
}

.Title_abrirAlerta {
    margin-top: 0%;
    margin-bottom: 1%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #212121;
}

.Title_abrirAlerta2 {
    width: 85%;
    margin-left: 3%;
    margin-bottom: 0%;
}

.titles {
    margin-bottom: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #646464;
}

.description_abrirAlerta {
    width: 85%;
    height: 40%;
    margin-top: 0.5%;
    margin-left: 3%;
    margin-right: 3%;
    line-height: 2;
    text-align: justify;
}

.Fechar_alerta {
    position: absolute;
    right: 13%;
    display: flex;
    border: 0 none;
    margin-top: 1%;
    cursor: pointer;
    background-color: transparent;

    color: #646464;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    font-family: 'Open Sans';
}

.DivExcluirAlerta {
    width: 170px;
    margin: auto;
    display: block;
}

.Excluir_alerta {
    width: 100px;
    height: 40px;
    border: none;
    margin: 2%;
    cursor: pointer;
    color: #fff;
    background: #43B996;
    border-radius: 15px 0px;
}

.Excluir_alerta:hover {
    background-color: #8bd6c5;
    color: #fff;
}

.title_cursor {
    cursor: default;
    color: gray;
}