* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMEÇO DO NAVBAR*/
nav {
    width: 100%;
    height: 14vh;
}

.Div_logo {
    display: inline-block;
    width: 30%;
    height: 100px;
}

.logo_site {
    margin-top: 1%;
    margin-left: 25%;
}

.Div_titlesNav {
    position: absolute;
    display: inline-block;
    width: 70%;
    height: 100px;
    text-align: right;

}

.div_nav {
    margin-right: 16%;
}

.title_nav {
    display: inline-block;
    margin-right: 10%;
    margin-top: 40px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

.title_nav:hover {
    color: gray;
}

.foto_perfil img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 17%;
    right: 0%;
    margin-right: 10%;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
}

.dropdown {
    display: inline-flex;
    margin-top: 0%;
}

.dropdown-content {
    position: absolute;
    top: 87px;
    right: 9.3%;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    z-index: 1;
}

.dropdown-content p {
    margin-bottom: .2rem;
}

.dropdown-content p a {
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.text_drop {
    font-family: 'Open Sans';
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

.text_drop:hover {
    color: #646464;
}

/*FIM DO NAVBAR*/

.card_alerta {
    width: 370px;
    height: 50px;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 5%;
    border-radius: 31px;
    background: #EEEEEE;
    box-shadow: 5.58372px 5.58372px 23.9302px 3.98837px rgba(66, 96, 84, 0.15);
}

.button_card {
    display: inline-block;
    border: none;
    width: 183px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 20px 0px 20px 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 55px;
    text-align: center;
    color: #43B996;
}

.button_card2 {
    display: inline-block;
    right: 0%;
    color: #FFFFFF;
    background-color: #43B996;
    border-radius: 0px 20px 20px 20px;
}

.ativo {
    width: 100%;
    display: block;
    margin-bottom: 3%;
}

.inativo {
    width: 100%;
    display: none;
    margin-bottom: 3%;
}

.content-meusalertas {
    width: 80%;
    max-width: 100%;
    margin-left: 7%;
    display: block;
}

.tela_user{
    display: flex;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 5.58372px 5.58372px 23.9302px 3.98837px rgba(66, 96, 84, 0.15);
    border-radius: 55.8372px 0px;
    margin-bottom: 35px;
}

.meusalertas-texto {
    width: 90%;
    margin-top: 2%;
}

.img_alerta {
    width: 150px;
    height: 150px;
    margin: 2%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
    border-radius: 20px 0px;
}

.titles {
    margin-bottom: 0.5%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #646464;
}

.form_remover {
    width: 13%;
    margin: auto;
    display: block;
}

.Excluir {
    width: 100px;
    height: 40px;
    border: none;
    margin: 2%;
    cursor: pointer;
    color: #fff;
    background: #43B996;
    border-radius: 15px 0px;
}

.Excluir:hover {
    background-color: #8bd6c5;
    color: #fff;
}